/* All Player Cards */
/* Default Card Structure */
div.player_card
{
    height:             300px;
    width:              200px;
    background-repeat:  no-repeat;
    position:           relative;
    text-transform:     uppercase;
    margin:             0px auto;
    padding:            0px;
    box-sizing:         border-box;
    -webkit-box-sizing: border-box;
    moz-box-sizing:     border-box;
    font-family:        "Titillium Web",sans-serif;
}

    div.player_card *
    {
        box-sizing:         border-box;
        -webkit-box-sizing: border-box;
        moz-box-sizing:     border-box;
    }
    
    div.player_card .name
    {
        font-size:          20px;
        font-weight:        600;
        left:               7px;
        text-align:         center;
        top:                148px;
        width:              184px;
        position:           absolute;
        line-height:        28px;
        height:             28px;
        padding:            0px;
        margin:             0px;
    }
    
    div.player_card .stats
    {
        font-size:          14px;
        line-height:        24px;
        font-weight:        600;
        left:               6px;
        text-align:         left;
        width:              186px;
        position:           absolute;
    }
    
        div.player_card .stats > span
        {
            display:        block;
            float:          left;
            text-align:     right;
            width:          50%;
        }
        
        div.player_card .stats > span:first-child
        {
            padding-right:  5px;
        }
        
        div.player_card .stats > span:last-child
        {
            text-align:     left;
            padding-left:   5px;
        }
    
    div.player_card #stat-1 {   top:    175px;  }
    div.player_card #stat-2 {   top:    198px;  }
    div.player_card #stat-3 {   top:    222px;  }
    
    div.player_card .stats-footer
    {
        font-size:          14px;
        font-weight:        600;
        text-align:         center;
        width:              200px;
        position:           absolute;
        top:                248px;
    }

    div.player_card div.picture
    {
        background-size: 100% auto;
        height: 120px;
        left: 60px;
        position: absolute;
        top: 32px;
        width: 120px;
    }
    
    div.player_card div.number
    {
        font-size: 40px;
        font-weight: 600;
        height: 45px;
        left: 20px;
        line-height: 45px;
        position: absolute;
        text-align: center;
        top: 38px;
        width: 50px;
        z-index: 2;
    }
    
    div.player_card div.position
    {
        font-size: 20px;
        font-weight: 600;
        height: 30px;
        left: 20px;
        line-height: 30px;
        position: absolute;
        text-align: center;
        top: 75px;
        width: 50px;
        z-index: 2;
    }
    
/* Former player */
    div.player_card.former
    {
        background-image:   url('/media/images/cards/former.png');
        color:              #DDD;
    }
    
        div.player_card.former .number, div.player_card.former .position
        {
            color:      #AAA;
        }
        
        div.player_card.former .picture
        {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    
/* Inactive player */
    div.player_card.inactive
    {
        background-image:   url('/media/images/cards/bronze.png');
        color:              #000;
    }
    
/* New player */
    div.player_card.new
    {
        background-image:   url('/media/images/cards/silver.png');
        color:              #1b243c;
    }

/* Active player */
    div.player_card.active
    {
        background-image:   url('/media/images/cards/gold.png');
        color:              #36221b;
    }

/* Top player */
    div.player_card.top
    {
        background-image:   url('/media/images/cards/gold-if.png');
        color:              #d6c263;
    }
    
        div.player_card.top .number, div.player_card.top .position
        {
            color:      #000;
        }
    
/* Legendary player */
    div.player_card.legendary
    {
        background-image:   url('/media/images/cards/blue.png');
        color:              #ebd56d;
    }
    
        div.player_card.legendary .name
        {
            color:      #000;
        }
    
/* Backside of the card */
    
    div.player_card.back
    {
        background-image:   url('/media/images/cards/back.png');
    }
    
    div.player_card.back *
    {
        display:        none;
    }
    
    
/* End of all player cards */