body
{
	font-family:			"Arial","Verdana","Sans-Serif";
	font-size:				12px;
	cursor:					default;
	background:			#EEE;
	padding:				50px 0px 0px 0px;
	margin:					0px;
}

    /* Messages */
	body p#message
	{
		background:		    url("../img/message.jpg") 5px center no-repeat #CEE3CE;
		padding:			10px 10px 10px 30px;
		display:				inline-block;
		font-weight:		bold;
		border:				1px solid #8B9;
		margin:				0px 10px 10px 0px;
	}
	
	body p#error
	{
		background:		    url("../img/error.jpg") 5px center no-repeat #FFD5D5;
		padding:			10px 10px 10px 30px;
		display:				inline-block;
		font-weight:		bold;
		border:				1px solid #800;
		margin:				0px 10px 10px 0px;
	}
	
	body p#warning
	{
		background:		    url("../img/warning.jpg") 5px center no-repeat #FFDDB7;
		padding:			10px 10px 10px 30px;
		display:				inline-block;
		font-weight:		bold;
		border:				1px solid #EC7C00;
		margin:				0px 10px 10px 0px;
	}

body > img#header_login
{
	margin:		0px auto;
	display:		block;
}

input[type="text"], input[type="password"]
{
	float:			right;
	font-size:		14px !important;
	line-height:	16px;
	padding:		3px 10px;
	background:		url("../img/text_gradient.jpg") repeat-x scroll left top #F6F6F6;
	border-color:	#CCC;
	border-radius:	5px;
	border-width:	1px;
	border-style:	solid;
	color:			#444;
}

body div#login_panel
{
	background:		none repeat scroll 0 0 #FFFFFF;
    border:				1px solid #BBB;
	border-radius:	10px;
	box-shadow:		0px 0px 10px 5px #DDD;
    font-weight:		normal;
    padding:			25px;
	width:				250px;
	margin:				50px auto 0px auto;
}

	body div#login_panel h1
	{
		padding:		0px;
		margin:			0px 0px 20px 0px;
		font-size:		20px;
	}
	
	body div#login_panel table
	{
		border-collapse:	collapse;
		width:				250px;
	}
	
	body div#login_panel table tr td:first-child
	{
		font-weight:	bold;
		width:			100px;
	}
	
	body div#login_panel table #submit
	{
		padding-top:	5px;
	}
	
	input[type="submit"]
	{
		float:			right;
		font-size:		14px !important;
		line-height:	14px;
		height:			28px;
		padding:		3px 10px;
		background:		url("../img/button_gradient.jpg") repeat-x scroll left top #CF4B4B;
		border-color:	#7A0000;
		border-radius:	5px;
		border-width:	1px;
		border-style:	solid;
		color:			#FFFFFF;
		font-weight:	bold;
	}
	
	input[type="submit"]:hover
	{
		cursor:			pointer;
		border-color:	#000;
		color:			#F4D8D8;
	}

body div#copyright
{
	display:		block;
	text-align:		center;
	width:			250px;
	margin:			5px auto 20px auto;
	color:			#888;
}