			{if empty($p) || isset($p) && $p != "api_overview"}		
			</div>
		</div>
		<div id="copyright">
			<a>Corba CMS{if isset($cms)} {$cms.release_version} ({$cms.release_month} {$cms.release_year}){/if}<br />&copy; Robin Corba{if isset($cms)} 2010 - {$cms.release_year}{/if}</a>
		</div>
		{/if}
	</body>
</html>