@import url(http://fonts.googleapis.com/css?family=Cutive);

body
{
	color:			#444;
	font-family:	Cutive,Arial,Sans-serif;
	margin:			0px;
	padding:		10px;
	text-align:		justify;
	background:	#EEE;
	font-size:		12px;
    line-height:	24px;
}

	body img
	{
		max-width:		100%;
		border:				5px solid #FFF !important;
		border-radius:	15px;
		display:				block;
	}
	
	body img.aligncenter
	{
		margin-left:		auto;
		margin-right:		auto;
		max-width:		95%;
	}
	
	body img.alignleft
	{
		float:					left;
		margin-right:		10px;
		margin-bottom:	-1px;
	}