body
{
	background:		#FFF;
	padding:		0px;
	margin:			0px;
	font-family:	Arial;
	font-size:		14px;
}

body > #header
{
	width:			1000px;
	line-height:	18px;
	font-size:		18px;
	height:			18px;
	margin:			25px auto 0px auto;
	text-align:		right;
}

body > #container
{
	width:		1000px;
	height:		520px;
	margin:		10px auto 25px auto;
	border:		1px solid #000;
}

body div#nav
{
	width:			200px;
	padding:		10px;
	background:		#EEE;
	height:			500px;
	overflow:		auto;
}

body div#class
{
	width:			759px;
	padding:		10px;
	border-left:	1px solid #000;
	position:		relative;
	left:			220px;
	top:			-520px;
	height:			500px;
	overflow:		auto;
}

body h1
{
	padding:		0px;
	margin:			0px;
}

body h2
{
	padding:		0px;
	margin:			0px;
}

body div#class span.desc
{
	margin:			0px 0px 20px 0px;
	display:		block;
}

body div#class span.return
{
	display:		block;
	background:		#EEE;
	padding:		5px;
	margin:			5px 0px 20px 0px;
}

body div#class span.return a.type
{
	font-weight:	bold;
	color:			#00B;
}

body div#class span.return a.desc
{
	font-size:		10px;
}

body div#class span.param
{
	display:		block;
	background:		#EEE;
	padding:		5px;
	margin:			5px 0px 0px 0px;
}

body div#class span.param a.type
{
	font-weight:	bold;
	color:			#00B;
}

body div#class span.param a.desc
{
	font-size:		10px;
}


body div#class hr
{
	margin:			40px 0px 10px 0px;
}