@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Roboto:900);
@import url(http://fonts.googleapis.com/css?family=Cutive);

body
{
	font-family:			"Arial","Verdana","Sans-Serif";
	font-size:				12px;
	cursor:					default;
	background:			#EEE;
	padding:				0px;
	margin:					0px;
	overflow:				scroll;
}

	/* Messages */
	body p#message
	{
		background:		    url("../img/message.jpg") 5px center no-repeat #CEE3CE;
		padding:			10px 10px 10px 30px;
		display:				inline-block;
		font-weight:		bold;
		border:				1px solid #8B9;
		margin:				0px 10px 10px 0px;
	}
	
	body p#error
	{
		background:		    url("../img/error.jpg") 5px center no-repeat #FFD5D5;
		padding:			10px 10px 10px 30px;
		display:				inline-block;
		font-weight:		bold;
		border:				1px solid #800;
		margin:				0px 10px 10px 0px;
	}
	
	body p#warning
	{
		background:		    url("../img/warning.jpg") 5px center no-repeat #FFDDB7;
		padding:			10px 10px 10px 30px;
		display:				inline-block;
		font-weight:		bold;
		border:				1px solid #EC7C00;
		margin:				0px 10px 10px 0px;
	}

body table
{
	border-collapse:		collapse;
}

	/* Input fields */

	input[type="text"],
	input[type="password"]
	{
		font-size:			14px;
		line-height:		16px;
		padding:			3px 10px;
		background:		url("../img/text_gradient.jpg") repeat-x scroll left -5px #F6F6F6;
		border-radius:	5px;
		border:				1px solid #CCC;
		color:				#444;
	}
	
	input[type="text"]:hover,
	input[type="password"]:hover
	{
		padding:			2px 9px;
		border:				2px solid #6993CD;
	}
	input[type="text"]:focus,
	input[type="password"]:focus
	{
		padding:			2px 9px;
		border:				2px solid #0D83DD;
		background:		#FFF;
		outline:				none;
	}
	
	input[type="file"]
	{
		font-size:		14px;
		line-height:	16px;
		height:			26px;
		padding:		3px 10px;
		background:		#EEE;
		border-color:	#DDD;
		color:			#444;
	}

	input[type="submit"]
	{
		font-size:		14px;
		line-height:	16px;
		padding:		3px 10px;
		background:		url("../img/button_gradient.jpg") repeat-x scroll left top #CF4B4B;
		border-color:	#7A0000;
		border-radius:	5px;
		border-width:	1px;
		border-style:	solid;
		color:			#FFFFFF;
		font-weight:	bold;
		text-shadow:	0 -1px 0 rgba(0, 0, 0, 0.3);
	}
	
	input[type="submit"]:hover
	{
		cursor:			pointer;
		border-color:	#000;
		color:			#F4D8D8;
	}
	
body > div#header
{
	background:				url("../img/corba_cms.jpg") no-repeat;
	background-position:	left center;
	text-align:					right;
	width:						1000px;
	height:						100px;
	margin:						0px auto 10px auto;	
}

	body > div#header > ../img
	{
		margin:					20px 0px 15px 0px;
	}
	
/* Container */

	body > #container
	{
		background: 		#FFF;
		width:				1000px;
		margin:				0px auto 10px auto;
		border:				1px solid #BBB;
		border-radius:	10px;
		box-shadow:		0px 0px 10px 5px #DDD;
	}
		
		body > #container > #nav
		{
			width:				149px;
			height:				450px;
			padding:			25px 0px 25px 0px;
			background:		25px 10px #FFF;
			border-right:		1px solid #AAA;
			position:			absolute;
			border-radius:	10px 0px 0px 10px;
			margin:				0px 0px 0px 10px;
		}
		
			body > #container > #nav > a
			{
				display:	inline-block;
				width:		130px;
				height:		20px;
				margin:		5px;
			}
		
		body > #container > div#content
		{
			width:			810px;
			min-height:		480px;
			position:		relative;
			left:			160px;
			padding:		10px;
		}
		
			body > #container > div#content > h1
			{
				padding:	0px;
				margin:		0px 0px 10px 0px;
				color:		#900;
				font-size:	28px;
			}
			
/* - - - - - ACTION BAR - - - - - */
			
			body > #container > div#content > div#actions
			{
				padding:	5px;
				background:	#EEE;
				border:		1px solid #000;
				margin:		10px 0px 10px 0px;
			}
			
				body > #container > div#content > div#actions > a, body > #container > div#content > div#actions > a:visited
				{
					font-size:			14px;
					color:				#444;
					text-decoration:	none;
					margin-right:		10px;
				}
				
				body > #container > div#content > div#actions > a:hover
				{
					color:				#B00;
					text-decoration:	underline;
				}
			
				body > #container > div#content > div#actions > a#new
				{
					background:			url("../img/icon/new.jpg");
				}
				
				body > #container > div#content > div#actions > ../img
				{
					position:			relative;
					top:					3px;
				}
				
/* - - - - - OVERVIEW TABLE - - - - - */
		
		body table#overview
		{
			border:		1px solid #000;
		}
		
		body table#overview tr:first-child td
		{
			background:			#EBC4B7;
			font-weight:		bold;
		}
		
		body table#overview tr.odd
		{
			background:			#EEE;
		}
		
		body table#overview tr td
		{
			padding:			10px;
		}
		
/* - - - - - DETAILS TABLE - - - - - */

		body table#details
		{
			border:		1px solid #000;
		}
		
		body table#details > tbody > tr > td
		{
			padding:			10px;
		}
		
		body table#details tr td:first-child
		{
			font-weight:		bold;
		}
		
		body table#details tr.odd
		{
			background:			#EEE;
		}
		
		body table#details > tbody > tr > td > input#preview_title
		{
			border:					0px;
			border-radius:		0px;
			font-family:			Roboto, Arial, Sans-serif;
			font-size:				40px;
			margin:					0px;
			padding:				0px;
			color:					#377BBF;
			margin:					0px;
			padding:				2px;
			text-align:				left;
			width:					100%;
			background:			#EEE;
		}
		
			body table#details > tbody > tr > td > input#preview_title:hover
			{
				background:		#F6F6F6;
				padding:			0px 0px 0px 0px;
				border:				2px solid #6993CD;
			}
			
			body table#details > tbody > tr > td > input#preview_title:focus
			{
				padding:			0px;
				border:				2px solid #0D83DD;
				background:		#FFF;
				outline:				none;
			}
		
		body table#details > tbody > tr > td > input#preview_summary
		{
			border:					0px;
			border-radius:		0px;
			font-size: 				16px;
			font-family:			Roboto Condensed, Arial, Sans-serif;
			color:					#000;
			margin:					0px 0px 26px 0px;
			padding:				2px;
			text-align:				left;
			width:					100%;
			background:			#EEE;
		}
		
			body table#details > tbody > tr > td > input#preview_summary:hover
			{
				background:		#F6F6F6;
				padding:			0px;
				border:				2px solid #6993CD;
			}
			
			body table#details > tbody > tr > td > input#preview_summary:focus
			{
				padding:			0px;
				border:				2px solid #0D83DD;
				background:		#FFF;
				outline:				none;
			}
		
		
		body table#details > tbody > tr > td > ../img#preview_thumb
		{
			float:						left;
			margin:					17px 10px 0px 0px;
			border:					1px solid #666;
			border-radius:		7px;
		}
		
		body table#details > tbody > tr > td > textarea#post_content
		{
			width:		100%;
			height:		600px;
		}
		
		body table#details > tbody > tr > td span#article_content_parent
		{
			position:	relative;
			top:			6px;
		}
		
/* - - - - - FOOTER - - - - - */

body div#copyright
{
	display:			block;
	text-align:		right;
	width:			1000px;
	margin:			0px auto 20px auto;
	color:			#444;
}


../img.profile_picture
{
	width:		180px;
	height:		240px;
	border:		1px solid #CCC;
	display:		block;
}

../img.profile_picture.small
{
	width:		120px;
	height:		160px;
}

../img.profile_picture.icon
{
	width:		68px;
	height:		90px;
	border:		1px solid #000;
}